<div class='user_item'>
  <div class='user_img'>
    <%= image_tag user.photo, 
                alt: "profil image", width: "100px", height: "100px", class:'profile_img' %>
  </div>
  <div class='user_details'>
    <p class='user_name'>
     <%= link_to user_path (user) do %>
      <%= user.name %><br>
      <%end%>
    </p>
    <span class='u_details_post_number'>
      Number of posts: <%= user.posts_counter%>
    </span>
  </div>
</div>