* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
  color: #000;
  background-color: #fff;
}

div#container {
  width: 760px;
  margin: 0 auto;
}

div#header {
  text-align: center;
  padding-bottom: 15px;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
}

.li_user_post_item,
.all_user_post {
  border: solid #000 0.05rem;
  padding: 0 0 10px 10px;
}

ul#users_list,
div#post_container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  padding: 0 0 10px 10px;
}

.comment_item {
  margin-bottom: 5px !important;
  margin-right: 5px;
}

.user_bio,
.post_text,
.btn_all_posts a,
.add_post_btn .comment_item {
  border: solid #000 0.05rem;
  padding: 2px;
}

.add_post_btn {
  width: 4%;
  border: solid #000 0.05rem;
  margin-top: 5px;
  padding: 2px;
}

.post_comments {
  margin-top: 5px;
}

.new_post_container {
  width: 40%;
  margin: auto;
  border: solid #000 0.05rem;
  text-align: center;
  padding: 5px;
}

.user_img,
.user_details {
  border: solid #000 0.2rem;
}

ul.comment_list {
  list-style-type: none;
}

div.user_item {
  display: flex;
  column-gap: 0.7rem;
  margin-bottom: 10px;
}

div.user_details {
  width: 100%;
}

div.user_details p {
  font-size: xxx-large;
  padding: 0;
  padding-left: 10px;
  margin: 0;
}

div.user_details span,
.user_post_reactions {
  margin-left: 90%;
}

.authentication-form {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  padding: 10px;
  border: 1px solid;
}

.actions {
  margin: 3px 0 3px 0;
}
