div.user_bio {
  min-height: 7rem;
  padding: 0 0 10px 10px;
}

div.user_post_like_comment {
  align-self: flex-end;
}

.btn_all_posts {
  display: flex;
}

.btn_all_posts a {
  margin: auto;
}

#btn_pagination {
  margin: 0 47%;
}

div.user_posts {
  display: flex;
  flex-direction: column;
}

div.user_post_text {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
